include *.py *.md *.mako
recursive-include namekoplus/chassis *.py *.mako
recursive-include namekoplus/templates *.py *.yml *.mako
recursive-include namekoplus/chassis-agent *.py *.yml *.mako
recursive-include namekoplus/tests *.py *.mako