version: "3"

services:
    rabbitmq:
      image: rabbitmq:3-management
      container_name: 'rabbitmq'
      hostname: 'rabbitmq'
      ports:
        - "5672:5672"
        - "15672:15672"
        - "25672:25672"
      volumes:
        - rabbitmq_data:/var/lib/rabbitmq
        - rabbitmq_log:/var/log/rabbitmq
      environment:
        RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-admin}
        RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-admin}
      restart: always


volumes:
  rabbitmq_data:
    driver: local
  rabbitmq_log:
    driver: local